<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DNI de tu Mascota</title>
  <link rel="stylesheet" href="style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">DNI Mascota</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Acerca de</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app" class="container mt-5 ">
    <div class=" text-center  fondoanimalito">
      <h1 class="display-4">Una Identidad Virtual para tu Mascota</h1>
      <p class="lead">Crea el DNI de tu mascota ahora</p>
      <button class="btn btn-primary btn-lg" @click="mostrarFormulario">Comenzar!</button>
    </div>

    <div v-if="mostrarForm" class="mt-4 formularioo fondoanimalito1">
      <h2 class="mb-3">Crear DNI de Mascota</h2>
      <form @submit.prevent="verificarYGenerarDni">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" v-model="apellido" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" v-model="nombre" class="form-control" required>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fechaNacimiento">Fecha de Nacimiento:</label>
            <input type="date" id="fechaNacimiento" v-model="fechaNacimiento" class="form-control" required>
          </div>
          <div class="form-group col-md-6">
            <label for="sexo">Sexo:</label>
            <select id="sexo" v-model="sexo" class="form-control" required>
              <option value="macho">Macho</option>
              <option value="hembra">Hembra</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="especie">Especie:</label>
            <select id="especie" v-model="especie" class="form-control" required>
              <option value="perro">Perro</option>
              <option value="gato">Gato</option>
              <option value="ave">Ave</option>
              <option value="roedor">Roedor</option>
              <option value="otro">Otro</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label for="raza">Raza:</label>
            <input type="text" id="raza" v-model="raza" class="form-control" required>
          </div>
        </div>

        <div class="form-group">
          <label for="foto">Foto de la Mascota:</label>
          <input type="file" id="foto" ref="foto" class="form-control" accept="image/*" required>
        </div>

        <div class="form-group form-check">
          <input type="checkbox" id="terminos" v-model="aceptoTerminos" class="form-check-input" required>
          <label class="form-check-label" for="terminos">Acepto los términos y condiciones</label>
        </div>

        <button type="submit" class="btn" :class="{ 'btn-success': dniGenerado, 'btn-primary': !dniGenerado }">Generar DNI</button>
      </form>

      <div v-if="dniGenerado" class="mt-4 ">
        <div class="dni-mascota">
          <h2 class="dni-mascota-title">DNI de Mascota</h2>
          <button @click="limpiarDatosGuardados" class="btn-primary btnlimpia">Limpiar Datos</button>

          <div class=" dni-mascota-card fondodni">
            <div class="row datosdni">
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">{{nombreCompleto}}</h5>
                  <p class="dni-mascota-info"><strong>Fecha de Nacimiento:</strong> {{fechaNacimiento}}</p>
                  <p class="dni-mascota-info"><strong>Sexo:</strong> {{sexo}}</p>
                  <p class="dni-mascota-info"><strong>Especie:</strong> {{especie}}</p>
                  <p class="dni-mascota-info"><strong>Raza:</strong> {{raza}}</p>
                  <p class="dni-mascota-info"><strong>Número de DNI:</strong> {{dniFalso}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="dni-mascota-foto" v-if="fotoMascota">
                  <img :src="fotoMascota" alt="Foto de la Mascota" class="img-fluid" width="300">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="bg-light text-center py-3">
    <div class="container">
      <p class="mb-0">Alumnos: Mauricio Potes y Nicolas Guaragna</p>
    </div>
  </footer>

  <script src="app.js"></script>
</body>
</html>
