

body {
    font-family: 'Segoe UI Local', 'Segoe UI Web (West European)';
  }
body{
    background-image: url(img/banner.jpg);
}
main{
    color:white;
    padding-top: 200px;
}
h1{
    font-weight: 500;
}
